@page
@model SFF_Komplettering.Pages.Reviews.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Review.ScoreValue" class="control-label"></label>
                <input asp-for="Review.ScoreValue" class="form-control" />
                <span asp-validation-for="Review.ScoreValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewTitle" class="control-label"></label>
                <input asp-for="Review.ReviewTitle" class="form-control" />
                <span asp-validation-for="Review.ReviewTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.ReviewContent" class="control-label"></label>
                <input asp-for="Review.ReviewContent" class="form-control" />
                <span asp-validation-for="Review.ReviewContent" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Review.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
